.slider {
  --initial-items: 3; /* used as initial no of items-per-screen */
  --items-per-screen: var(--initial-items); /* default items-per-screen */
  --slider-index: 0; /* this variable is modified on button click */
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 400ms ease-in-out;
}

.slider-img {
  width: calc(100% / var(--items-per-screen));
}

.slider-next-img {
  /* important added to override default padding on next/image component */
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media (min-width: 480px) {
  .slider {
    --items-per-screen: calc(var(--initial-items) + 1);
  }
}

@media (min-width: 650px) {
  .slider {
    --items-per-screen: calc(var(--initial-items) + 2);
  }
}

@media (min-width: 920px) {
  .slider {
    --items-per-screen: calc(var(--initial-items) + 3);
  }
}

@media (min-width: 1100px) {
  .slider {
    --items-per-screen: calc(var(--initial-items) + 4);
  }
}
